<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    <title>HTMX Example</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css" />
  </head>

  <body>
    <header>
    </header>
    <main>
      <article>
        <h2>Dice Roller</h2>
        <button hx-get="/roll" hx-target="#roll-result">Roll</button>
        <p>Roll result: <span id="roll-result"></span></p>
      </article>
      <article>
        <section>
          <h2>Book Info</h2>
          <form hx-get="/book" hx-target="#book-results">
            <input type="text" name="isbn" value="9789387779686" />
            <input type="submit" value="Lookup book" />
          </form>
        </section>
        <section id="book-results"></section>
      </article>
    </main>
  </body>
</html>
